<!DOCTYPE html>
<html ng-app="infiniteApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta charset="utf-8"/>
	<title>JS Assignment 15: Infinite Agenda</title>
	<link rel="stylesheet" type="text/css" href="normalize.css"/>
	<link rel="stylesheet" type="text/css" href="main.css"/>
	<script type="text/javascript" src="angular.js"></script>
</head>
<body ng-controller="troller">
	<Header class="site-header">Steve's Nefarious Agenda</Header>
	<div class="agenda-container">
		<ul ng-init="loadMore()">
			<li ng-repeat="date in dateArray">
				<!-- setting scope variables to null here is the only way I could clear them. Doesn't work in JS file for some reason -->
				<div ng-click="[showForm($index), what=null, when=null, who=null]" ng-class-odd="'alternate-agenda'" class="day-entry">{{date.date}}<br/>
					<ul>
								<!-- date.appointment === array containing appointment objects -->
								<!-- appointment in date.appointment refers to appointment object -->
						<li ng-repeat="appointment in date.appointment">What: {{appointment.whatKey}}<br/>When: {{appointment.whenKey}}<br/>Who: {{appointment.whoKey}}<br/></li>
					</ul>
				</div>
				<div ng-show="date.showValue">
					<label>What?</label><input class="input" value="What?" ng-model="what"><br/>
					<label>When?</label><input class="input" value="WHEN?" ng-model="when"><br/>
					<label>With Who?</label><input class="input" value="WITH WHO?!" ng-model="who"><br/>
					<button ng-click="submitAppointment($index, what, when, who)">Submit Appointment</button>
				</div>
			</li>
		</ul>
		<button ng-click="loadMore()">Load More</button>
	</div>
	<script type="text/javascript" src="troller.js"></script>
</body>
</html>